<!DOCTYPE html>
<html>
<head>
    <% include partials/head %>
    <%-stylesheets%>
</head>
<body>
    <% include partials/nav %>

    <header class="masthead" style="background-image: url('/images/<%= key_photo%>')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <%-blocks.header%>
                </div>
            </div>
        </div>
    </header>

    <%-body -%>

    <hr>

    <% include partials/footer %>
</body>

<%-scripts%>
</html>