<!DOCTYPE html>
<html>
<head>
    <% include partials/head %>
    <%-stylesheets%>
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <% include partials/nav %>

        <% include partials/aside-bar %>
        <div class="content-wrapper">
            <% include partials/header %>

            <%-body -%>
        </div>

        <% include partials/footer %>
    </div>
</body>

<%-scripts%>
</html>