<!DOCTYPE html>
<html>
<head>
    <% include partials/head %>
    <%-stylesheets%>
</head>
<body class="hold-transition <%= key%>-page">
    <div class="<%= key%>-box">
        <div class="<%= key%>-logo">
            <a href="/"><b>Admin</b>LTE</a>
        </div>

        <div class="card">
            <div class="card-body <%= key%>-card-body">
                <%-blocks.title%>

                <%-body -%>

                <div class="social-auth-links text-center">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i>
                        Sign up using Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                        <i class="fab fa-google-plus mr-2"></i>
                        Sign up using Google+
                    </a>
                </div>

                <%-blocks.footer_form%>
            </div>
        </div>
    </div>
</body>

<%-scripts%>
</html>